@media (min-width: 992px){
    .aside-enabled .content {
        margin-left: 30px;
    }
}


@media (min-width: 992px){
    .content {
        padding: 0 0 15px 0;
    }
}
.flex-row-fluid {
    flex: 1 auto;
    min-width: 0;
}